/* about.css */
.about-inner{display: flex; flex-direction: column;}

/* title */
/* .about-inner h1{position: absolute; top: 380px; left: 350px; line-height: 1.1;} */

/* #about-me>.introduce */
.introduce h2{
	text-align: left;
	padding-bottom: 70px;
	font-size: 80px;
	font-family: 'Averia Serif Libre', cursive;
}
.introduce .introduce-inner{position: relative; width: 1200px;margin: 0 auto;}
.introduce .introduce-inner::after{display: block; content: "";clear: both;}

/* introduce-profile */
.introduce-inner .profile{position: relative; float: left;}
.introduce-inner .profile .profile-img{
	width: 464px;height: 479px;
	border-radius: 50%;
	background: url(../images/hyehyeon.JPG) no-repeat 25% 25%;
	background-size: 100%;
	transition: 500ms linear;
}
.introduce-inner .profile .profile-img:hover{background-size: 105%;}

/* introduce-discription */
.introduce-inner .discription{
	position: relative;
	top: 0px;width: 600px;
	float: right;
	padding-left: 80px;
}
.introduce-inner .discription dl{padding-bottom: 25px;}
.introduce-inner .discription dl dt{
	padding-bottom: 10px;
	font-size: 30px;
	font-weight: var(--font-weght-bold);
}
.introduce-inner .discription dl dd{font-size: 20px;padding-left: 20px;display: inline-block;}
.introduce-inner .discription dl dd img {width: 45px;}
.introduce-inner .discription dl dd>ul{padding-bottom: 10px; list-style: none;}

/* Scroll Down */
#about .scroll {
	position: absolute;
	bottom: -150px;right: 30px;
	animation: 1.5s bounce ease-in-out infinite;
}
@keyframes bounce {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
