/* contact.css */
.contact-inner h2{
    font-size: 80px;
    font-family: 'Averia Serif Libre', cursive;
    padding-bottom: 120px;
}
.contact-inner h3{
    text-align: center;
    padding-bottom: 120px;
    font-size: 100px;
    font-family: 'Averia Serif Libre', cursive;
}
.contact-inner div.call{display: flex;padding: 100px 0;}
.contact-inner div.call dl{flex: 1;}
.contact-inner div.call dl dt{padding-bottom: 5px;font-size: 24px;font-weight: 700;}
.contact-inner div.call dl dd{line-height: 1.5; font-size: 20px;letter-spacing: 1px;}
.contact-inner div.call dl.channel dd a:hover{border-bottom: 1px solid #fff;}

/* thank you */
/* #contact .contact-inner h3 {
    left: 50%;
    margin: 0;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#thank {
    font-weight: 700;
    display: inline-flex;
    margin: -5px;
    padding: 5px;
} 

.title-letter {
    font-size: 80px;
    margin-left: -2px;
    color: #fff;
} */

/* Opacity For Start */
/* .title-letter {opacity: 0;} */
