@import url(reset.css);
@import url(about.css);
@import url(projects.css);
@import url(contact.css);

/* Noto Sans Korean Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* Averia Serif Libre Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
/* 
font-family: 'Averia Serif Libre', cursive;
font-family: 'Noto Sans KR', sans-serif; 
*/


/* custom variables */
:root{
    --font-family--italic: 'PT Serif', serif;
    --font-family--normal:'Gothic A1', sans-serif;
    --font-weght-bold: 700;
    --font-weght-semibold: 500;
    --font-size--h1: 130px;
    --font-size--large: 40px;
    --font-size--medium: 30px;
    --font-size--small: 20px;
    --font-size--text: 16px;
    --space--large: 80px;
}

/* common */
*{box-sizing: border-box; margin: 0; padding: 0;}
body{
    overflow-x: hidden;
    font-family: var(--font-family--normal);
    background: #4f4f4f;color: #fff;
    word-break: break-all;
    font-size: var(--font-size--text); cursor:default;
}
a{color: #fff; text-decoration: none;}

/* 스크롤바 스타일링 */
body::-webkit-scrollbar{width: 15px}
body::-webkit-scrollbar-thumb{height: 30%;background-color: rgba(255, 255, 255, 0.1);}

/* layout */
#loading-page{width: 100%; height: 100vh;}
#wrap{width: 100%; height: 100%;}
    #header{z-index: 100; position: fixed; width: 100%;}
    #header .header-inner{
        position: relative;
        top: 0;height: 100px;
        padding-top: 35px;justify-content: flex-end;padding-right: 80px;
        background: #151515;}

    #main{width: 100%;}
    /* #main #about{position: relative; width: 100%;padding-top: 300px;} */
    #main #about{width: 1200px;margin: 0 auto;padding-top: 300px;}
    #main #about .about-inner{position: relative;width: 1200px;margin: 0 auto;padding-bottom: 100px;}
    #main #projects{transform: translateY(0px); padding-top: 150px; width: 100%;}
    #main #projects .projects-inner{padding-left: 150px; display: inline-block;}
    #main #contact{position: relative; width: 100%;}
    #main #contact .contact-inner{padding-top: 200px;}

/* header */
#header{opacity: 1; transition: 0.5s; overflow: hidden;}
.header-inner{display: flex;flex-direction: row;flex-wrap: wrap;}
.header-inner>h1{
    position: absolute;
    left: 100px;
    font-size: 30px;
    font-family: 'Averia Serif Libre', cursive;
}
.header-inner>nav{width: 300px;}
.header-inner>nav>ul{display: flex;justify-content: space-between;padding-top: 8px;}
.header-inner>.header-nav>ul>li>a{font-family: 'Averia Serif Libre', cursive;}

#header.fade{opacity: 0; transform: translateY(-30px);}


/* main */
#main h1{
    text-align: center;
    font-size: 100px;
    font-family: 'Averia Serif Libre', cursive;
}


@keyframes footerSlide-left {
    from{left: 0;}
    to{left: -1500px;}
}
@keyframes footerSlide-right {
    from{left: -2700px;}
    to{left: 0px;}
}


@media screen and (max-width: 1400px) {
    :root{
        --font-family--italic: 'PT Serif', serif;
        --font-family--normal:'Gothic A1', sans-serif;
        --font-weght-bold: 700;
        --font-weght-semibold: 500;
        --font-size--h1: 120px;
        --font-size--large: 40px;
        --font-size--medium: 30px;
        --font-size--small: 20px;
        --font-size--text: 16px;
        --space--large: 80px;
    }
}